html,
body {
    padding: 0;
    margin: 0;
}

// .center {
//     text-align: center;
// }


[hidden] {
    display: none;
}

.controls {
    background-color: #eee;
}

.maps {
    background-color: #9FA8DA;
}

.mapContainer {
    width: 50vw;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// .ph-a {
//     padding: {
//         left: auto;
//         right: auto;
//     }
// }

.armBox {
    text-align: center;
    margin: 20px auto;
}

.text-center {
    text-align: center;
}

.sliderContainer {
    height: 400px;
}

.feed {
    padding-bottom: 80%;
    background-color: #111;
    margin: 0 30px;
    border: 8px solid #757575;
}

.tiltdrone {
    border: 1px red dotted;
    padding-bottom: 100%;
    margin-bottom: 20px;

    background: {
        image: url('../../images/drone.png');
        repeat: no-repeat;
        position: top center;
        size: contain;
    }
}

.logwindow {
    margin-top: 30px;
    background-color: #111;
    color: #eee;

    min-width: 100%;

    padding: 20px 5px;

    font: {
        family: 'Courier New', Courier, monospace;
        size: 0.85em;
    }

    transition: 1ms ease-in-out all;
}