html,
body {
    padding: 0;
    margin: 0;
}

// .center {
//     text-align: center;
// }


[hidden] {
    display: none;
}

.controls {
    background-color: #eee;
}

.maps {
    background-color: #9FA8DA;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// .ph-a {
//     padding: {
//         left: auto;
//         right: auto;
//     }
// }

.text-center {
    text-align: center;
}

.sliderContainer {
    height: 400px;
}